@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts.css */
@font-face {
  font-family: 'SF Pro Display', sans-serif;
  src: url('/public/fonts/sf-pro-bold.woff2') format('WOFF2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg: #F2F5F9;
}


body {
  min-height: 100vh;
    background: var(--bg);
    color: var(--fg);
    line-height: 1.5;
    background-image: radial-gradient(#eaeaea 1px, transparent 1px),
      radial-gradient(#eaeaea 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;
  
    /* Hack */
    overflow-x: hidden;
}

